.booking{
    text-align: left;
}

/************************************************
 Login / Sign up forms
************************************************/
.formLabel{
    display:block;
    width:180px;
    margin:5px 0;
    float:left;
    clear:left;
}

.formField{
    display:block;
    margin:5px 0;
    float:left;
    clear:right;
}

.formField input{
    width: 500px;
}

.formField .honorific{
    width: 20px;
}

.formField #last_name, .formField #first_name{
    width: 300px;
}

.formField #phone{
    width: 200px;
}

.formField #house_number{
    width: 45px;
}

.formField #remark{
    width: 500px;
}

.formField .submit{
    float: right;
    width: 150px;
    clear: both;
}

.formField.formRadio label{
    float: left;
    clear: left;
}

.formField.formRadio input{
    float: right;
}

.form-horizontal .controls {
    text-align: left;
}

.requestRemark {
    font-size: 12px;
    margin: 7px 0;
    height: 76px;;
}

#remark {
    height: 320px;
}

.buttonDiv {
    text-align: right;
}

#adminContainer {
    background-color: #F5F5F5;
    overflow-y: scroll;
}

#errorAlertFront {
    margin: 0 0 14px 24px;
}
/************************************************
 Tables
************************************************/
.btn-group {
    float: right;
}

table.list {
    table-layout: fixed;
}

table.list th {
    font-size: 92%;
}

table.list td {
    font-size: 89%;
    vertical-align: middle;
}

table.list tbody {
    cursor: pointer;
}

div.popOver {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.popOver:hover {
    cursor: pointer;
    font-weight: bold;
}

table.booking th.customerNumber {
    width: 5%;
}

table.booking th.name {
    width: 15%;
}

table.booking th.status {
    width: 6%;
}

table.booking th.remark {
    width: 25%;
}

table.booking th.requestDate {
    width: 9%;
}

table.booking th.options {
    width: 16%;
}


table.customer th.customerNumber {
    width: 5%;
}

table.customer th.name {
    width: 18%;
}

table.customer th.email {
    width: 20%;
}

table.customer th.phone {
    width: 10%;
}

table.customer th.address {
    width: 18%;
}

table.customer th.city {
    width: 12%;
}

table.customer th.options {
    width: 16%;
}

.voucherIntro {
    text-align: left;
}

table.emailTemplate th.type {
    width: 12%;
}

table.emailTemplate th.name {
    width: 25%;
}

table.emailTemplate th.subject {
    width: 60%;
}

table.emailTemplate th.options {
    width: 16%;
}

#emailBody {
    height: 600px;
}



table.requestMail th.name {
    width: 12%;
}

table.requestMail th.subject {
    width: 60%;
}

table.requestMail th.sent {
    width: 12%;
}

table.requestMail th.options {
    width: 12%;
}
/************************************************
 Admin pages
************************************************/
.logo img {
    margin: -11px 0 0;
    border: medium none;
    float: left;
    width: 120px;
}

.profileBar .calendar {
    background: url("../img/calendar.png") no-repeat scroll center center transparent;
    width: 60px;
}

.profileBar .logout {
    background: url("../img/logout.png") no-repeat scroll center center transparent;
    width: 60px;
}

.profileBar .orders {
    background: url("../img/orders.png") no-repeat scroll center center transparent;
    width: 60px;
}

.formHeader h3, .formHeader h5 {
    text-align: left;
    border-bottom: 1px solid #aaaaaa;
}

.formHeader h3 .crudMenu, .formHeader h5 .crudMenu {
    text-align: left;
    float: right;
}
/************************************************
 Detail page
************************************************/
.detailPage label, .detailPage .controls {
    font-size: 13px;
    padding-top: 5px;

}
