.booking{
    text-align: left;
}

/************************************************
 Login / Signup forms
************************************************/
.formLabel{
    display:block;
    width:180px;
    margin:5px 0;
    float:left;
    clear:left;
}

.formField{
    display:block;
    margin:5px 0;
    float:left;
    clear:right;
}

.formField input{
    width: 500px;
}

.formField .honorific{
    width: 20px;
}

.formField #last_name, .formField #first_name{
    width: 300px;
}

.formField #phone{
    width: 200px;
}

.formField #house_number{
    width: 45px;
}

.formField #remark{
    width: 500px;
}

.formField .submit{
    float: right;
    width: 150px;
    clear: both;
}

#error {
    border: 1px solid #FF0000;
    padding: 3px;
    color: red;
}

.formField.formRadio label{
    float: left;
    clear: left;
}

.formField.formRadio input{
    float: right;
}

.form-horizontal .controls {
    text-align: left;
}

.requestRemark {
    font-size: 12px;
    margin: 7px 0;
    height: 76px;;
}

#remark {
    height: 320px;
}

.buttonDiv {
    text-align: right;
}

#adminContainer {
    background-color: #F5F5F5;
    overflow-y: scroll;
}


/************************************************
 Tables
************************************************/
table.booking {
    table-layout: fixed;
}

table.booking td div.popOver {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.popOver:hover {
    cursor: pointer;
    font-weight: bold;
}

table.booking th {
    font-size: 92%;
}

table.booking td {
    font-size: 89%;
    vertical-align: middle;
}

table.booking th.customerNumber {
    width: 5%;
}

table.booking th.name {
    width: 15%;
}

table.booking th.status {
    width: 6%;
}

table.booking th.remark {
    width: 25%;
}

table.booking th.requestDate {
    width: 9%;
}

table.booking th.options {
    width: 16%;
}

table.booking tbody {
    cursor: pointer;
}

/************************************************
 Admin pages
************************************************/
.logo img {
    margin: -11px 0 0;
    border: medium none;
    float: left;
    width: 120px;
}

.profileBar .calendar {
    background: url("../img/calendar.png") no-repeat scroll center center transparent;
    width: 60px;
}

.profileBar .logout {
    background: url("../img/logout.png") no-repeat scroll center center transparent;
    width: 60px;
}

.profileBar .orders {
    background: url("../img/orders.png") no-repeat scroll center center transparent;
    width: 60px;
}

.formHeader h3 {
    text-align: left;
    border-bottom: 1px solid #aaaaaa;
}
.formHeader h3 .crudMenu {
    text-align: left;
    float: right;
}
/************************************************
 Detail page
************************************************/
.detailPage label, .detailPage .controls {
    font-size: 13px;
    padding-top: 5px;

}
